include README.md CONTRIBUTING.md THIRD_PARTY.md LICENSE requirements.txt
include Start.cmd
include tools/build_icon.py
recursive-include auto_censor_studio/assets *
global-exclude *.pyc *.onnx preferences.ini
